@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background-color: white;
  font-family: "Roboto", sans-serif; }
  body .main-wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  body header {
    display: flex;
    flex-direction: row;
    position: relative; }
    body header .logo img {
      width: 80%;
      height: 110%; }
    body header nav {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0px;
      bottom: 0px;
      height: 70px;
      width: 55%;
      font-size: 1.5em;
      border-top: 1.5px solid rgba(7, 7, 7, 0.541);
      border-bottom: 1.5px solid rgba(7, 7, 7, 0.541);
      justify-content: space-around;
      align-self: flex-end;
      text-transform: uppercase; }
      body header nav a {
        color: #56bee8;
        text-decoration: none; }
        body header nav a:hover {
          transition-delay: .2s;
          background-color: #83cfee;
          color: #1a8fbe; }
        body header nav a:active {
          color: #b0e1f4;
          transform: translateY(2px);
          background-color: #1a8fbe; }
  body .toolbar {
    align-self: flex-end;
    margin-top: 60px; }
    body .toolbar input {
      background-color: white;
      border: 1.5px solid #56bee8;
      height: 30px;
      margin-bottom: 30px;
      font-size: 1.1em; }
      body .toolbar input::placeholder {
        color: #56bee8; }
  body .post-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    body .post-list article {
      align-self: flex-start;
      background-color: rgba(215, 214, 221, 0.671);
      width: 49%;
      padding: 8px 8px 0 8px;
      box-sizing: border-box;
      margin-bottom: 40px; }
      body .post-list article img {
        margin: auto;
        width: 100%; }
      body .post-list article .post-description {
        padding-left: 15px;
        color: green;
        font-size: .9em; }
      body .post-list article h3 {
        text-transform: uppercase;
        color: #1d99af;
        border-top: 1.3px solid rgba(7, 7, 7, 0.541);
        padding-top: 5px; }
      body .post-list article p {
        font-size: 1.1em;
        line-height: 1.8em;
        margin-bottom: 10px;
        color: #607781; }
      body .post-list article:nth-last-child(1) {
        align-self: auto; }
  body #about h1 {
    text-align: right;
    text-transform: uppercase;
    color: #56bee8;
    padding-bottom: 0px;
    margin-top: 50px; }
  body #about p {
    line-height: 1.4em;
    color: #9192a0; }
  body #about img {
    max-width: 100%; }
  body #contact h1, body #contact h4 {
    text-align: right;
    text-transform: uppercase;
    color: #56bee8;
    padding-bottom: 0px; }
  body #contact h1 {
    margin-top: 60px; }
  body #contact form input:not(#submit),
  body #contact form textarea {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(7, 7, 7, 0.541);
    font-family: "Roboto", sans-serif; }
  body #contact form #submit {
    float: right;
    margin-top: 35px;
    width: 20%;
    height: 40px;
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 1.3em;
    background-color: #56bee8;
    border: none; }
    body #contact form #submit:hover {
      transition-delay: .2s;
      background-color: #1a8fbe;
      box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.8); }
    body #contact form #submit:active {
      transform: translateY(2px);
      background-color: #83cfee; }
  body footer {
    color: #607781;
    font-size: 0.9em; }
