*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:"Open Sans", sans-serif;
  background-color:#0a1223;
}
p{
  color:#5d5d5d;
  text-indent: 1em;
  text-align:justify;
  line-height:1;
}
.backToHeader{
  display: none;
}
.container{
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
.info{
  margin: 0 auto;
  width: 68vw;
  margin-bottom: 17vh;
}
header{
  padding:2%;
  width: 100%
  
}
.navList{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.navList li{
  margin-left: 2.8%;
}

.navList a{
  text-decoration: none;
  color:#5d5d5d;
 
}
.navList .active,
.navList a:active
{
  color:#54597d;
}

.navList a:hover{
  color:#54597d;
}

.article-title{
  color:#ddd;
  text-align: center;
  font-size: 5vw;
  margin:15vh auto 25vh auto;

}
.infoBlocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 12vh;
}

.infoBlocks:nth-child(2n+1)
{
  flex-direction: row-reverse;
}
.img-block{
  width: 48%;
  
}
.txt-block{
  width: 47%;
}
.img-block img{
  width: 100%;
  height: auto;
}
.gradientH{
  color:#ddd;
  background: linear-gradient(to right, #ddd, #5d5d5d);   
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size:2.3vw;
  padding-bottom: 5vh;
  line-height: 1.1;
}

/*575px - 991 px*/
@media(max-width: 991px){
  .navList{
    justify-content: center;

  }
  img{
    padding-top:5vh;
  }
  .article-title{
    font-size: 6vw;
  }
  .infoBlocks,
  .infoBlocks:nth-child(2n+1){
    flex-direction: column-reverse;
  }

  .txt-block,
  .img-block{
    width: 100%;
  }
  
  
  .gradientH{
    font-size:2em;
  }
}
/*to 575px*/
@media(max-width:575px){
  body{
    background-color:#fff;
  }
  p{
    color:#484747;
    font-size: 1.2em;
  }
  .info{
    width: 85vw;
  }
  header{
    padding: unset;
  }

  .navList{
    flex-direction: column;
    align-items: flex-start;
  }
  .navList li{
    margin: unset;
    width: 100%;
    border-bottom:1px solid #ddd;
    padding: 8px 0 8px 8px;
  }
  .navList .active,
  .navList a:active,
  .navList a:hover{font-weight: bold;}

  .article-title{
    color:#000;
    font-size: 10vw;
  }
  .gradientH{
    background: unset;   
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
    color:#484747;
  }

  .backToHeader{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color:#5ebcff;
    text-align: center;
    padding-top:19px;
    text-decoration: none;
    color:#fff;
    font-size: 1.1em;
    box-shadow: 3px 3px 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 30px;
    right: 15px;
    
  
  }



}
