@import url('https://fonts.googleapis.com/css?family=Roboto');

$mainColor:#56bee8;
$mainBGC:white;
$mainFont:'Roboto', sans-serif;
$arcticleBG: rgba(215, 214, 221, 0.671);
$postDescC:green;
$h3Color:#1d99af;
$borderLine:rgba(7, 7, 7, 0.541);
$fontSizeP:1.1em;
$pColor:#607781;
$aboutColor:#9192a0;