$mainColor:#f03d14;
$mainBGC:rgba(243, 236, 236, 0.836);
$mainFont:sans-serif;
$arcticleBG:white;
$postDescC:rgb(161, 161, 165);
$h3Color:#5e8588;
$borderLine:rgb(177, 170, 175);
$fontSizeP:1.2em;
$pColor:rgb(121, 133, 126);
$fontP:"Palatino Linotype", sans-serif;
$aboutColor:#9192a0;